* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.search_input_div {
  width: 500px;
  padding: 5px 10px;
  margin: 0 auto;
}

.search_input {
  width: 100%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #000;
  font-size: 18px;
  color: #000;
}

.filter_chekbox {
  transform: scale(2);
  margin: 0 10px;
  cursor: pointer;
}

.filter {
  margin: 0px auto;
  margin-bottom: 10px;
}

.table {
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #000;
}
